<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwConfigExceptions="true"
      internalLogFile="D:\C-SHAP\Roadmap\HumanResourceAPI\HumanResourceAPI\internal_nlogs\internallog.txt">

  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="D:\C-SHAP\Roadmap\HumanResourceAPI\HumanResourceAPI\logs\${shortdate}_logfile.log"
            layout="${longdate} ${level:uppercase=true} ${message}" />
  </targets>

  <!-- layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />  -->

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>